extends ../layout.pug

block content
    h2 Lista de perros
        table(class="table")
            thead
                th Nombre
                th Id del perro
                th Protectora
                th Acciones
                
            tbody
                each perro, index in perros
                    tr
                        td= perro.nombre_perro
                        td= perro.id
                        td= perro.nombre
                        td
                            a.btn.btn-sm.btn-dark(href="/api/perros/"+perro.id) Ver 
                            a.btn.btn-sm.btn-success(href="/api/perros/editar/"+perro.id) Editar 
                            a.btn.btn-sm.btn-danger(href="/api/perros/borrar/"+perro.id, onClick="return confirm('¿Estás seguro de  eliminar este perro?')") Borrar
                        
                else
                    tr
                        td(colspan=12) No existen perros

